@import "tailwindcss";
@font-face {
  font-family: "Love Light";
  font-weight: 400;
  font-style: normal;
  src: url("./assets/LoveLight-Regular.ttf");
}

@theme {
  --font-love-light: "Love Light", cursive;
}

:root {
  background: url("./assets/pattern2.svg") 0 0 repeat-y;
  background-size: 100px auto; 
  background-position: right top;
  background-color: rgba(0, 0, 0, 0.952);
}

@media screen and (max-width: 1000px){
  :root {
    background: rgba(0, 0, 0, 0.952);
  }
}